.main-title {
  color: white;
  position: absolute;
  top: 30%;
  font-size: 6em;
  width: 100%;
  z-index: 100;
  text-align: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 0;
  animation: fadeInOut 7s;
  pointer-events: none;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; transform: scale(1.1) }
  90% { opacity: 1; transform: scale(1.1)}
  100% { opacity: 0; transform: scale(1)}
}


.message-1 {
  position: absolute;
  left: 200px;
  top: 90px;
  transform: rotate(35deg);
}

.message-2 {
  position: absolute;
  right: 350px;
  top: -20px;
  transform: rotate(70deg);

}

.message-3 {
  position: absolute;
  left: 470px;
  bottom: 250px;
  transform: rotate(100deg);
}

.message-4 {
  position: absolute;
  right: 10px;
  bottom: 390px;
  transform: rotate(120deg);
}