@font-face {
  font-family: 'FOT Matisse Pro EB';
  src: url('/fonts/FOT-Matisse%20Pro%20EB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('/fonts/OptimusPrinceps.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body h1 {
  font-family: 'OptimusPrinceps', sans-serif;
}

body {
  overflow: hidden;
  font-family: 'FOT Matisse Pro EB', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/hero-background.png");
  background-size: cover;
  background-position: bottom;
}
